/*  Контакты  */

.contacts {
  width: 1200px;
  margin-top: 40px;

  outline: 1px solid red;
  overflow: hidden;
}

.contacts__info {
  position: relative;
  z-index: 10;
  top: 350px;
  left: 0;

  width: 302px;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  border: 1px solid transparent;

}

.contacts__address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts__phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts-button {
  margin: 25px 25px 31px;
}


/*  Карта  */

.contacts__map {
  /*position: relative;
  top: -200px;
  z-index: 0;*/

  /*width: 1200px;*/
  min-height: 430px;
}

.contacts__map-wrapper {
  height: 430px;
  
  background-color: #e5e5e5;
  overflow: hidden;
}

.contacts__map img,
.contacts__map iframe {
  width: 1200px;
  height: 430px;
}

.contacts__map iframe {
  position: relative;
  top: -435px;
}