/*  Контакты  */

.contacts {
  width: 1200px;
  height: 430px;
  margin-top: 40px;

  overflow: hidden;
}

.contacts__info {
  position: relative;
  z-index: 10;
  top: -100%;
  left: 100%;

  width: 302px;
  padding: 26px 23px 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  border: 1px solid transparent;

  transform: translateX(calc(-100% - 27px)) translateY(63px);
}

.contacts__info-text {
  margin: 0;
  padding: 0;
}

.contacts__address {
  margin-top: 2px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts__info p:nth-of-type(3) {
  margin-top: 17px;
}

.contacts__phone {
  margin-top: 7px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts__info p:nth-of-type(5) {
  margin-top: 1px;
}

.contacts-button {
  margin: 25px 2px 31px;
}


/*  Карта  */

.contacts__map {
  /*position: relative;
  top: -200px;
  z-index: 0;*/

  /*width: 1200px;*/
  min-height: 430px;
}

.contacts__map-wrapper {
  height: 430px;
  
  background-color: #e5e5e5;
  overflow: hidden;
}

.contacts__map img,
.contacts__map iframe {
  width: 1200px;
  height: 430px;
}

.contacts__map iframe {
  position: relative;
  top: -435px;
}