/*  Шапка  */

.main-header {
  display: flex;

  padding-top: 9px;
}

.logo-gllacy {
  margin-right: 23px;
}

.logo-gllacy svg {
  width: 154px;
  height: 64px;
  fill: #ffffff;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 19px 0;
  padding: 0;
  
  list-style: none;
}

.main-navigation__item {
  margin-right: 29px;
}

.main-navigation__item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}

.main-navigation__sub-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation-wrapper {
  display: flex;
  flex-direction: column;  
  
  margin-left: auto;
}


.user-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 14px 0 18px;
  padding: 0;

  list-style: none;
}

.user-navigation__item {
  margin-left: 10px;
  padding: 5px 17px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.user-navigation__item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
  color: #ffffff;
}

.working-hours {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.gllacy-phone {
  margin: 0;
  margin-top: 5px;

  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  text-align: right;
}